@charset "UTF-8";

@font-face {
  font-family: 'omnigothic020';
  src: url(../font/210\ 옴니고딕OTF\ 020.otf);
}
@font-face {
  font-family: 'omnigothic030';
  src: url(../font/210\ 옴니고딕OTF\ 030.otf);
}
@font-face {
  font-family: 'omnigothic045';
  src: url(../font/210\ 옴니고딕OTF\ 045.otf);
}
@font-face {
  font-family: 'mazius-regular';
  src: url(../font/MAZIUSREVIEW20.09-Regular.otf);
}
@font-face {
  font-family: 'mazius-extra';
  src: url(../font/MAZIUSREVIEW20.09-Extraitalic.otf);
}

*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'omnigothic020', sans-serif ;
  font-style: normal;
  font-weight: 200;
  margin: 0;
  padding: 0;
  border: 0;
}

input, textarea, select, button {
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-size: 16px;
  outline: 0;
  vertical-align: middle;
}

img {
  border: 0;
  vertical-align: middle;
}

h2 {
  display: none;
}

body {
  min-height: 800px;
  background-image: linear-gradient(#1D1D1D, #2F2F2F);
  background-size: auto 100%;
  background-position: 50% 100%;
}